// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label-low {
  background: #6da79b;
}

.label-medium {
  background: #f39f09;
}

.label-high {
  background: #f26f21;
}

.label-critical {
  background: #952715;
}

.issue-detail {
  margin-top: 20px;
}

img {
  max-width: 100%;
}

.panel-heading h6 {
  margin-top: 0;
}
.panel-heading h4 {
  margin-bottom: 0;
}

.panel-body p:last-child {
  margin-bottom: 0;
}